@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Greska!.</h1>
<h2 class="text-danger">Doslo je do greske prilikom obrade.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Zahteva:</strong> <code>@Model.RequestId</code>
    </p>
}


