
@{
    ViewData["Title"] = "Greska u unosu!";
}

<div class="mx-auto">
    <h1 class="text-center bg-danger">Greska!</h1>
    <p class="text-center bg-info">Doslo je do greske prilikom obrade zahteva</p>
    <p class="text-center bg-info">Ili ste pogresno uneli broj ili je greska sistemska</p>
    <button onclick="history.go(-1)" class="rounded btn-primary">Nazad</button>
</div>

