@{
    ViewData["Title"] = "Pocetna strana";
}

<div class="text-center">
    <h1 class="display-4">Telefonski imenik</h1>
    <p>U ovoj aplikaciji mozete cuvati podatke o ljudima i njihove brojeve telefona</p>
</div>
