@{
    ViewData["Title"] = "Pocetna strana";
}

<div class="text-center bg-info rounded">
    <h1 class="display-4">Telefonski imenik</h1>
    <p class="bg-success">U ovoj aplikaciji mozete cuvati podatke o ljudima i njihove brojeve telefona</p>
    <h2 class="display-2"></h2>
</div>
<div class="text-center m-2 bg-primary p-3">
    <p class="bg-info text-left p-2">
        Ova aplikacija je proba izrade MVC aplikacija. Tutorijal koji sam pratio prilikom rada:
    </p>
    <a class="bg-light p-2" href="https://www.youtube.com/watch?v=BfEjDD8mWYg">Klkinite ovde</a>
</div>
<div class="text-center m-2 rounded">
    <p class="bg-dark text-white">Ovo je cisto malo CSS-a, da aplikacija lici na nesto. U mojim drugim projektima su prikazane moje CSS vestine</p>
</div>
